<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
			I am a professional with a passion for coding, learning, teaching and performing. I intend to be a life long learner and aspire to inspire.
Along the way for the past 4 years, I have been involved in multiple aspects of software technology and programming fields. I am experienced in designing and implementing informative, accessible applications using C, C#, MVC, SQL, JQuery, Angular.
I have good written, team collaboration, and organizational skills and I have experience managing projects from start to completion. I can work quickly and creatively under tight and demanding deadlines.
Posses rich CRM & Learning Domain knowledge and currently working as a Senior Software Engineer in "Marlabs Inc."

My Bit Bucket URL is https://bitbucket.org/ItzGaurav/
		</div>
		<br>
	</div>
</div>
