<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
			I am a professional with a passion for coding, learning, teaching and performing. I intend to be a life long learner and aspire to inspire. <br/><br/>
Along the way for the past 5 years, I have been involved in multiple aspects of software technology and programming fields and have extensive experience in design & development of IoT and web-based applications using Angular, Node , ASP.NET MVC, WebApi, SQL Azure, Azure IoT hub, Event Hub, IoT Edge, Device Twins, Azure DPS, Azure Function, Data Storage (blob, table storage). <br/><br/>
I have been involved in end-to-end development of software applications from requirement analysis to system study, designing, coding, unit testing, debugging, documentation and implementation. I have good written, team collaboration, and organizational skills and have experience in managing projects from start to completion. I can work quickly and creatively under tight and demanding deadlines. <br/><br/>
Possess rich Home appliances (IoT), CRM & Learning Domain knowledge and currently working as a Senior Software Engineer in Marlabs Inc.

		</div>
		<br>
	</div>
</div>
